
.verdeBlanco {
    background-color: #007980;
    color: white;
    cursor: pointer;
}

.azulBlanco {
    background-color: #077AB5;
    color: white;
    cursor: pointer
}

.azulitoBlanco {
    background-color: #52A0B8;
    color: white;
    cursor: pointer
}

.celeste {
    background-color: lightskyblue;
    color: white;
    cursor: pointer
}

.morado {
    background-color: #6A48B8;
    color: white;
    cursor: pointer
}

.rojo {
    background-color: #B81C21;
    color: white;
    cursor: pointer
}

.naranjo {
    background-color: orange;
    color: white;
    cursor: pointer
}

.verdeclaroBlanco {
    background-color: #82A82C;
    color: white;
    cursor: pointer
}

.amarillo {
    background-color: yellow;
    color: black;
    cursor: pointer
}

.margen {
    margin-left: 240px;
    margin-top: 10px;
}

.margen2 {
    margin-left: 80px;
    margin-top: 20px;
}
.border {
    border-style: solid;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }